@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
  --primarycolor: #3f7d2e;
  --secondarycolor: #9ed148;
  --addcolor: #fd8426;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  /* background-image: url('../public/krzyz_harc.png');
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-position-y: 20vh; */
  color: #333;
  font-family: 'Nunito';
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 0 auto 50px;
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
  position: relative;
}
nav a {
  margin-left: 12px;
}
nav .logo-container {
  margin-right: auto;
}
nav h3 {
  margin-top: 0;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

footer p {
  font-size: 0.8rem;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}
.linkSelected {
  font-weight: 700;
  color: var(--primarycolor);
}

.contact {
  color: var(--primarycolor);
}
.website-name {
  color: var(--primarycolor);
}
.logo-sign1 {
  position: absolute;
  z-index: -1;
  display: inline;
  opacity: 0.6;
  /* left: 50%;
  transform: translate(-50%); */
}

.logo-sign2 {
  position: absolute;
  top: 20px;
  right: 0;
}

/* styling carousel */

.carousel {
  width: 960px;
  margin: 0 auto 50px;
  position: relative;
  height: 500px;
}

.carousel__container {
  height: 100%;
  position: relative;
  list-style: none;
  display: flex;
  /* justify-content: center; */
  overflow: hidden;
  width: 100%;
}

.carousel__slide img {
  height: 500px;
  width: 960px;
  object-fit: cover;
}

.carousel__slide {
  opacity: 0.8;
  transition: 0.5s ease;
  transform: translateX(100%);
  /* transition: 0.3s ease;  */
}

.carousel__slide.active__slide {
  opacity: 1;
  transition: 0.5s ease-in-out;
  transform: translateX(0%);
  /* transition: 0.3s ease; */
}

.carousel__btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.6;
  user-select: none;
}

.carousel__btn--prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;
}

.carousel__btn--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 10;
}

/* .carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
} */

/* .carousel__indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0px;
  background: rgba(0, 0, 0, 0.3);
  margin: 4px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.65);
} */
